<!--
  Generated template for the MyCouponPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center>我的优惠券</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-toolbar no-border-top *ngIf="demo != 'Title'">
    <ion-segment [(ngModel)]="apptype">
      <ion-segment-button value="not">
        未使用
      </ion-segment-button>
      <ion-segment-button value="has">
        已使用
      </ion-segment-button>
      <ion-segment-button value="had">
        已过期
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <!-- <ul>
    <li>
      <div class="pic">
          <img src="assets/imgs/mine/coupon_1@2x.png" alt="" width="122px" height="68px">
          <p>25</p>
      </div>
      <div class="word">
        <p>
          <span>满100元可用</span>
          <span>立即使用</span>
        </p>
        <p>有效期:2018-10-11至2018-10-16</p>
      </div>
    </li>
  </ul> -->

  <ion-list class="chat-sliding-demo">

    <ion-item-sliding  *ngFor="let item of getItems(apptype); let i=index">
      <ion-item>
        <ion-avatar item-start class="pic">
          <img src="assets/imgs/mine/coupon_1@2x.png" alt="" width="122px" height="68px">
          <p>{{item.val}}</p>
        </ion-avatar>
        
       
        <ion-note item-end>
            <p class="word_top">
                <span class="coupon_ava">满100元可用</span>
                <span class="coupon_use" [hidden]="item.used" (click)="status(apptype,i)">立即使用</span>
                <span class="coupon_use used" [hidden]="!item.used">已使用</span>
              </p>
          <p class="datetime">有效期:{{item.datestart}}至{{item.dateend}}</p>
        </ion-note>
      </ion-item>

      <ion-item-options>
        
        <button ion-button color="danger">
          <ion-icon name="trash"></ion-icon>
          删除
        </button>
      </ion-item-options> 
    </ion-item-sliding>

    <!-- <ion-item-sliding>
        <ion-item>
          <ion-avatar item-start class="pic">
            <img src="assets/imgs/mine/coupon_1@2x.png" alt="" width="122px" height="68px">
            <p>100</p>
          </ion-avatar>
          
         
          <ion-note item-end>
              <p class="word_top">
                  <span class="coupon_ava">满100元可用</span>
                  <span class="coupon_use">立即使用</span>
                </p>
            <p class="datetime">有效期:2018-10-11至2018-10-16</p>
          </ion-note>
        </ion-item>
  
        <ion-item-options>
          
          <button ion-button color="danger" (click)="delete(item)">
            <ion-icon name="trash"></ion-icon>
            删除
          </button>
        </ion-item-options>
  
       
      </ion-item-sliding> -->
  </ion-list>

  

</ion-content>
